.side-menu-label1 {
    display: block !important;
    padding-bottom: 10px;
}

.btn-primary-light {
    color: #fff !important;
}

.text-primary-dark {
    color: #fff !important;
}

.transaction-icon i,
.text-primary {
    color: #fff !important;
}

.dmphic-heading {
    font-weight: 600;
    color: var(--primary-bg-color);
}

.side-menu-label1:first-child {
    padding-top: 10px;
}

.side-menu-label1 a {
    margin-left: 20px;
}

.horizontal .logo-horizontal {
    display: flex;
    align-items: center;
}

.horizontal .header-brand-img {
    margin-top: 0;
}

.header-brand-img {
    height: 3rem;
}

.sweet-alert .sa-icon.sa-success {
    border-color: #313193;
}

.sweet-alert .sa-icon.sa-success .sa-line {
    background-color: #313193;
}

.error {
    color: red;
}

.success b {
    color: #fff !important;
}

.sweet-alert button {
    background-color: #313193 !important;
}

#add_demographic > .row {
    display: flex !important;
}

#users > .edit > .row {
    display: flex !important;
}

.dark-mode .hor-header .header-brand-img.light-logo1 {
    display: block !important;
}

.dark-mode .hor-header .header-brand-img.desktop-logo {
    display: none !important;
}

.horizontal .side-menu > li > a {
    align-items: center;
}

@media (max-width: 992px) {
    .side-menu {
        flex-wrap: wrap !important;
    }

    .side-menu .slide {
        width: 100% !important;
    }
}
.dark-mode rect.highcharts-background {
    fill: rgb(49 49 147 / 0%);
}

.dark-mode text.highcharts-title {
    color: rgb(255 255 255) !important;
    fill: rgb(255 255 255) !important;
}

.dark-mode text.highcharts-axis-title {
    color: rgb(255 255 255) !important;
    fill: rgb(255 255 255) !important;
}
.dark-mode .vgt-input,
.vgt-select {
    background-color: #2c2f3e;
    color: white !important;
}
.dark-mode .vgt-global-search__input .input__icon .magnifying-glass {
    border: 2px solid white;
}
.dark-mode .vgt-global-search__input .input__icon .magnifying-glass:before {
    background: white;
}
.fe-x-circle:before {
    content: "\ea01";
    vertical-align: bottom;
}
.btn-cancel {
    font-family: "Poppins" !important;
    font-size: 15px;
    padding-left: 8px;
    vertical-align: bottom;
}
.dark-mode text.highcharts-subtitle {
    fill: white !important;
}
.vgt-global-search {
    border: unset !important;
}
.vgt-wrap__footer{
    border: unset !important;
}
.dark-mode .vgt-table.bordered td, .vgt-table.bordered th{
    border: 2px solid #393939;
}
.dark-mode tr{ 
        border: 2px solid #393939;
}
.dark-mode th.vgt-left-align.sortable {
    border: 2px solid #393939;
}
.vgt-wrap__footer .footer__row-count__select{
    color: gray;
}
.dark-mode .vgt-wrap__footer .footer__row-count__select{
    color: white !important;
    /* fill: white !important; */
}
.dark-mode .vgt-wrap__footer .footer__navigation__page-btn span{
    color: white !important;
}
.dark-mode button.btn.btn-dark.dropdown-toggle {
    background: #313193 !important;
}
.dark-mode .badge.bg-light {
    background: #313193 !important;
    color: white !important;
    font-weight: initial;
}
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
rect.highcharts-legend-box {
    fill: white !important;
}
.dark-mode .table-bordered, .dark-mode .text-wrap table, .dark-mode .table-bordered th, .dark-mode .text-wrap table th, .dark-mode .table-bordered td, .dark-mode .text-wrap table td {
    background: #2c2f3e !important;
    border: 2px solid #393939 !important;
}

.dark-mode .vgt-wrap__footer .footer__row-count__select {
    background: white;
    border-radius: 5px;
    color: grey !important;
    cursor: pointer !important;
}
/* datagraph */

.dark-mode .noresults_container {
    background: #2C2F46 !important;
    border-radius: 5px;
}
.noresults_container {
    border-radius: 5px;
}
.dark-mode h2.dmphic-heading.mt-5.mb-5 {
    color: white;
}
.dark-mode h2.dmphic-heading.mt-5.mb-5 {
    color: #D5D5D8;
}
.highcharts-figure{
    border-radius: 5px;
}
.dark-mode .noresults_heading{
    color: #D5D5D8 !important;
}
.dark-mode path.highcharts-point.highcharts-color-1 {
    fill: white;
}
/* add data admission data */

.dark-mode a.excel_heading {
    color: white;
}
.dark-mode .upload-bulk-data-field-text {
    color: white !important;
}
/* create list */
.dark-mode .breadcrumb-item a, .dark-mode .breadcrumb-item+.breadcrumb-item::before {
    color: white;
}
/* add data */
.dark-mode th.line-numbers {
    border-right: 2px solid #393939 !important;
}
.dark-mode th.vgt-right-align.sortable {
    border-left: 2px solid #393939 !important;
}
/* back button */
.vgt-global-search.vgt-clearfix {
    display: flex !important;
    flex-direction: row-reverse !important;
}
.vgt-global-search__input {
    position: relative;
    padding-left: 39px;
    flex-grow: 1;
    margin-right: 1%;
}
.dark-mode .vgt-global-search.vgt-clearfix {
    border: 2px solid #393939 !important;
    border-bottom: none !important;
}
.dark-mode .vgt-input::placeholder {
    color: white !important;
}
.dark-mode .zmdi-eye-off:before {
    content: '\f15b';
    color: white;
}
.zmdi-eye-off:before {
    content: '\f15b';
    position: absolute;
    cursor: pointer;
    z-index: 100;
}
.zmdi-eye:before {
    content: '\f15c';
    position: absolute;
    cursor: pointer;
    z-index: 100;
}
.page-title {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    margin-bottom: 0.2rem;
    margin-top: 9px ;
}
.page-header .breadcrumb {
    margin-top: 9px;
}

/* navbar profile  */
.navbar.navbar-collapse.responsive-navbar.p-0 {
    margin-top: 9px;
}
span.college_name {
    font-size: 22px !important;
    color: #5A5AA9 !important;
    font-weight: 600;
}


